body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(../images/body.jpg);
    background-size: cover; 
}
form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"], input[type="password"],input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"],input[type="button"]{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="button"]:hover {
    background-color: #3e8e41;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}